.achievement_body_container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-bottom: 40px;
}
.achievement_container {
	/* background-color: red; */
	width: 100%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.achievement_container:active {
	opacity: 50%;
}

.icon_container {
	width: 20%;
	display: flex;
	justify-content: center;
}

.achievement_icon {
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.___name {
	width: 70%;
}
