@import 'Color.css';
html,
body {
	font-family: 'Kanit', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}
