@import "Color.css";
.window {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--bg);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
}

.textLogin {
  display: flex;
  flex-direction: column;

  color: white;
  padding: 60px;
  font-size: 35px;
}

.login_container {
  /* padding: 30px; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: red; */
}

.username {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.textUser {
  color: white;
  bottom: 5px;
}

.textPass {
  color: white;
  bottom: 5px;
}

.userBox {
  height: 45px;
  width: 320px;
}

.passBox {
  height: 45px;
  width: 320px;
}

.login_btn_enter {
  background-color: var(--bt);
  text-align: center;
  border: none;
  height: 50px;
  width: 320px;
  font-size: 28px;
  color: white;
  font-family: "Kanit", sans-serif;
  margin-top: 118px;
}
