@import './Color.css';
.profile_container {
	height: 100vh;
	width: 100vw;
	position: relative;
}

.c1 {
	background-color: var(--bg1);
}

.c2 {
	background-color: var(--bg);
}

.profile_navigation_container {
	height: 6vh;
	width: 100%;
	/* background-color: black; */
	padding: 5px;
	font-size: 18px;
	color: #000;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
}

.btn_back_ward {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
}

.profile_header_container {
	width: 100%;
	height: 50vh;
	/* background-color: #000; */
	display: flex;
	flex-direction: column;
}

.profile_header_sec1,
.profile_header_sec3 {
	width: 100%;
	height: 20%;
	/* background-color: red; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.profile_sec1_1,
.profile_sec1_2 {
	background-color: var(--bg2);
	height: 70%;
	width: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile_sec1_1 {
	border-radius: 0px 30px 30px 0px;
}

.profile_sec1_2 {
	border-radius: 30px 0px 0px 30px;
}

.profile_weight_val {
	padding-top: 20px;
	color: white;
	font-size: 25px;
}

.profile_weight_title {
	font-size: 14px;
	position: relative;
	top: 15px;
}

.profile_header_sec2 {
	width: 100%;
	height: 50%;
	/* background-color: yellow; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.profile_picture {
	object-fit: cover;
	border: 2px outset var(--bg2);
	border-radius: 50%;
	background-color: black;
}

.profile_header_sec3 {
	width: 100%;
	height: 20%;
	/* background-color: green; */
}

.profile_header_sec4 {
	width: 100%;
	height: 10%;
	/* background-color: red; */
}

.profile_edit_btn {
	display: flex;
	/* flex-direction: row; */
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin: 0 auto;
	width: 80px;
	height: 40px;
	border-radius: 20px;
	color: white;
	background-color: var(--bg2);
}

.profile_edit_btn:active,
.profile_sec1_1:active,
.profile_sec1_2:active {
	background-color: var(--bg2_active);
}

.profile_body_container {
	margin-top: 15px;
	width: 100%;
	background-color: white;
	height: 100%;
}

.shortcut_box_container {
	padding-top: 30px;
	/* background-color: red; */
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	justify-content: space-around;
}

.shortcut_item {
	background-color: var(--bg2);
	padding: 10px;
	border-radius: 20%;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.shortcut_item:active {
	background-color: var(--bg2_active);
}

.edit_profile_container {
	padding: 10px;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.edit_profile_header {
	/* background-color: yellow; */
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit_profile_header_btn {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50vw;
	margin-left: 5vw;
}

.edit_profile_header_box {
	width: 100%;
	height: 7vh;
	background-color: var(--bg2);
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	text-align: center;
	font-size: 20px;
}

.edit_profile_header_box:active {
	background-color: var(--bg2_active);
}
.edit_profile_body {
	/* background-color: pink; */
	width: 100%;
	height: 80vh;
}

.edit_profile_footer {
	background-color: green;
	width: 100%;
	height: 10vh;
}
