.dashboard_container {
	width: 100vw;
	height: 100vh;
	/* background-color: aqua; */
}

.dashboard_body {
	margin-left: 6vw;
	margin-top: 1vh;
	background-color: #00587a;
	width: 93vw;
	height: 91vh;
	max-height: 91vh;
	overflow: hidden;
}
