@import '../../styles/Color.css';

.button {
	width: 90vw;
	color: #fff;
	background-color: var(--bt);
	text-align: center;
	font-size: 32px;
	margin: 0 auto;
}

.button:active {
	background-color: var(--bt_active);
}

.button:hover {
	background-color: var(--bt_hover);
}
