@import '../../styles/Color.css';
.homelogo_container {
	width: 300px;
	height: 300px;
}

.homelogo_circle {
	position: relative;
	background-color: var(--bt);
	top: 5%;
	left: 15%;
	width: 300px;
	height: 300px;
	border-radius: 100%;
	border: 5px solid #0f3057;
}

.homelogo_arrow1 {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #0f3057;
	top: 25px;
	left: 25px;
	/* background-color: #0f3057; */
	/* line-height: 30px; */
	/* border-radius: 100%; */
	animation: spin-back 5s infinite;
	transform-origin: 120px 120px;
}

.homelogo_arrow2 {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #0f3057;
	top: 25px;
	left: 25px;
	/* background-color: #0f3057; */
	/* line-height: 30px; */
	/* border-radius: 100%; */
	animation: spin-back2 5s infinite;
	transform-origin: 120px 120px;
}

@keyframes spin-back2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes spin-back {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* 0F3057 */
