@import "../Color.css";
.windowE {
  height: 100vh;
  width: 100vw;
}

.windowS {
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.eBox {
  height: 15%;
  width: 100vw;
}
.boxSlide {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.exerciseButton {
  height: 90px;
  width: 100px;
  background-color: var(--bt_ex);
  box-shadow: 0px;
  border: 0;
}

.textExercise {
  font-size: 17px;
  font-family: "Kanit", sans-serif;
}

.table {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.caloryCal {
  width: 100%;
  height: 45%;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.customers {
  width: 95%;
}

.customers td,
.customers th {
  padding: 4px;
  text-align: center;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:nth-child(odd) {
  background-color: white;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--bg2_active);
  color: white;
}

.cBox1 {
  padding-top: 10px;
  height: 70%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.cBox2 {
  /* padding-top: 10%; */
  height: 30%;
  width: 100%;
  margin: 0%;
  padding: 0%;
  color: white;
}

.timeStart {
  color: white;
}

.timeAll {
  color: white;
  padding-bottom: 0px;
}

.fAllTime {
  padding-top: 2%;
  height: 50px;
}

.burnAll {
  padding-left: 5%;
}

.valBurn {
  padding-left: 8%;
}

.cal1 {
  padding-left: 5%;
}

.burnLeft {
  padding-left: 5%;
}

.valLeft {
  padding-left: 4%;
}

.cal2 {
  padding-left: 5%;
}

.cTop {
  padding-top: 5px;
}

.pickBox {
  /* background-color: aliceblue; */
  margin-right: 0%;
  padding-right: 0%;
  margin-right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.timeInput {
  height: 40px;
}

.timeExerciseBox {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

.devideBox {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}

.exercise_btn_enter {
  width: 60px;
  height: 60px;
  background-color: var(--bg2_active);
  color: white;
  font-family: "Kanit", sans-serif;
}

.c {
  width: 73%;
}
